body,ul,ol{
	margin:0;
	padding:0;
	list-style:none;
}
/* 外部容器 */
#container{
	width:1000px;
	margin:0 auto;
}
/* 1. 导航 */
#nav{
	background:grey;
	height:50px;
	line-height:50px;
}
#nav>ul>li{
	float:left;
	margin-right:20px;
}
/* 内层列表的隐藏与显示 */
#nav .address{
	position:relative;
}
#nav ol{
	display:none;
	position:absolute;
	z-index:10;
}
#nav .address:hover ol{
	display:block;
}
#nav ol li:hover{
	background:orange;
}
/*轮播图*/
#banner{
	margin:20px 0;
	height:400px;
	position:relative;
}
#banner img{
	width:1000px;
	height:400px;
}
#banner ul{
	position:absolute;
	bottom:20px;
	left:50%;
	margin-left:-70px;
}
#banner li{
	float:left;
	width:20px;
	height:20px;
	border-radius:50%;
	background:red;
	margin-right:10px;
}
#banner .no-margin{
	margin:0;
}







