<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
  <table border="1" width="400">
    <tr>
      <th>姓名</th>
      <th>年龄</th>
      <th>邮箱</th>
      <th>操作</th>
    </tr>
    {% for au in authors %}
      <tr>
        <td>
          <a href="/11-querybyid/{{ au.id }}">{{ au.name }}</a>
        </td>
        <td>{{ au.age }}</td>
        <td>{{ au.email }}</td>
        <td>
          <a href="#">修改</a>
          <a href="/12-delete/{{ au.id }}">删除</a>
        </td>
      </tr>
    {% endfor %}
  </table>
</body>
</html>