<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/static/jquery-1.11.3.js"></script>
    <script>
        $(function(){
            $("#selCour").change(function(){
                location.href="/15-otm-exer?cid="+this.value;
            });
        });
    </script>
</head>
<body>
<select id="selCour">
    <option value="0">所有</option>
    {% for cour in params.courses %}
    <option value="{{cour.id}}"
        {% if cour.id == params.cid %}
            selected
        {% endif %}
    >
        {{cour.cname}}
    </option>
    {% endfor %}
</select>
<table width="300" border="1">
    <tr>
        <th>姓名</th>
        <th>年龄</th>
        <th>所教课程</th>
    </tr>
    {% for tea in params.teachers %}
        <tr>
            <td>{{tea.tname}}</td>
            <td>{{tea.tage}}</td>
            <td>{{tea.course.cname}}</td>
        </tr>
    {% endfor %}
</table>
</body>
</html>